@using University.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link rel="stylesheet" href="~/css/assistant.css" asp-append-version="true" />
}

@model List<Assistant>
<div class="banner">
    <!--<img src="" />-->
</div>
@RenderBody()