@using University.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link rel="stylesheet" href="~/css/doctor.css" asp-append-version="true" />
}
@model List<proffessor>
<div class="banner">
    <!--<img src="" />-->
</div>
@RenderBody()