@using University.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link rel="stylesheet" href="~/css/student.css" asp-append-version="true" />
}
@model List<Student>
<div class="banner">
    <!--<img src="" />-->
</div>
@RenderBody()