@model University.Models.Assistant

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewData.ModelState.ErrorCount > 0)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var key in ViewData.ModelState.Keys)
            {
                var errors = ViewData.ModelState[key].Errors;
                foreach (var error in errors)
                {
                    <li>@error.ErrorMessage</li>
                }
            }
        </ul>
    </div>
}


<h4>Assistant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="assistant_id" />
            <div class="form-group">
                <label asp-for="first_name" class="control-label"></label>
                <input asp-for="first_name" class="form-control" />
                <span asp-validation-for="first_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="last_name" class="control-label"></label>
                <input asp-for="last_name" class="form-control" />
                <span asp-validation-for="last_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="age" class="control-label"></label>
                <input asp-for="age" class="form-control" />
                <span asp-validation-for="age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address" class="control-label"></label>
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contact_number" class="control-label"></label>
                <input asp-for="contact_number" class="form-control" />
                <span asp-validation-for="contact_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assistant_Pic" class="control-label"></label>
                <input asp-for="Assistant_Pic" class="form-control" type="file" name="img_file" />
                <span asp-validation-for="Assistant_Pic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="department_id" class="control-label"></label>
                <input asp-for="department_id" class="form-control" />
                <span asp-validation-for="department_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<a asp-controller="Admin" asp-action="Index" class="btn btn-primary">Back to Admin Home</a>
